#root {
    flex-shrink: 0;

    transition: background-color 350ms;
}

#AuthPageContainer
{
    background: #C8CE00;
    width: 343px;
    height: 530px;
    flex-shrink: 0;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    border-radius: 12px;
    border: 3px solid #FFF;
    box-shadow: 6px 4px 9px 2px rgba(0, 0, 0, 0.15);
    transition: background-color 350ms;
}

h3,h2 {

    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2
{
    font-size: 16px;
}

hr {
    width: 123px;
    height: 15px;
    background: white;
    border-color: white;
}

form
{
    margin: 5% 0%;
}

form div 
{
    margin: 3% auto;
}

form h3
{
    text-align: left;
    margin-bottom: 1%;
}

form input
{
    text-align: center;
    width: 100%;
    background-color: transparent;
    border: solid white 3px;
    border-radius: 8px;
}

.AuthButton
{
    background-color: #C8CE00;
    border: 2px solid white;
    width: 130px;
    transition: filter 250ms;
}

.AuthButton:disabled
{
    filter: brightness(30%);
}